/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Custom CSS to change the search button color */
#searchButton {
  background-color: #097969;
  /* Cadmium Green */
  border-color: #097969;
  /* Cadmium Green */
}

#searchButton:hover {
  background-color: #0b8a6c;
  /* Darker shade of green on hover */
  border-color: #0b8a6c;
  /* Darker shade of green on hover */
}

a {
  color: #097969;
}

.btn-primary {
  color: #fff;
  background-color: #097969;
  border-color: #097969;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #097969;
  border-color: #097969;
}

/* Add this CSS to your stylesheet */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* Define a new text colour using bootstrap css variables
 * https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
.text-lightgray {
  color: var(--bs-gray-100);
}

.text-darkgray {
  color: var(--bs-gray-900);
}
/* Custom CSS to change icons and buttons to Cadmium Green */
.text-cadmiumgreen {
  color: #097969; /* Cadmium Green */
}
/* Change the color of the icons */

