<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #097969;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #ffffff;">SustiVest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" style="color: #ffffff;">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="companiesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff;">
                        Companies
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="companiesDropdown">
                        <li><a class="dropdown-item" asp-controller="Company" asp-action="CompanyIndex" style="color: #097969;">Companies</a></li>
                        <li><a class="dropdown-item" asp-controller="FinanceRequest" asp-action="Index" style="color: #097969;">Finance
                                Requests</a></li>
                        <li><a class="dropdown-item" asp-controller="Assessments" asp-action="Index" style="color: #097969;">Assessments</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Offer" asp-action="Index" style="color: #ffffff;">Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Privacy" style="color: #ffffff;">Privacy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: #097969;">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" style="color: #ffffff;">Item 1</a></li>
                        <li><a class="dropdown-item" href="#" style="color: #ffffff;">Item 2</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" asp-condition="@(!User.Identity.IsAuthenticated)">
                    <a class="nav-link" asp-controller="User" asp-action="Login" style="color: #ffffff;">Login</a>
                </li>
                <li class="nav-item" asp-condition="@(!User.Identity.IsAuthenticated)">
                    <a class="nav-link" asp-controller="User" asp-action="Register" style="color: #ffffff;">Register</a>
                </li>
                <li class="nav-item dropdown" asp-condition="@User.Identity.IsAuthenticated">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff;">
                        @User.Identity.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-controller="User" asp-action="UpdateProfile" style="color: #097969;"><i
                                    class="bi bi-gear"></i> Update Profile</a></li>
                        <li><a class="dropdown-item" asp-controller="User" asp-action="UpdatePassword" style="color: #097969;"><i
                                    class="bi bi-lock-fill"></i> Update Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form asp-controller="User" asp-action="Logout">
                                <button type="submit" class="dropdown-item btn btn-link" style="color: #097969;"><i
                                        class="bi bi-person-dash-fill"></i> Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>





