@model FinanceRequest

<partial name="_BreadCrumbs" model=@(new [] { ("/","Home"), ($"/home/index","FinanceRequests"), ("","Submit Request")
    }) />

<div class="card rounded shadow p-4">
    <h3>Submit Request</h3>
    <form asp-action="CreateRequest">

        <!-- form includes a select list to populate the studentid -->
        <!-- and a text area to include the issue -->

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input type="hidden" asp-for="RequestNo"/>
        <input type="hidden" asp-for="CRNo"/>

        <div class="mt-3">
            <label asp-for="Purpose" class="form-label"></label>
            <textarea rows="2" asp-for="Purpose" class="form-control"></textarea>
            <span asp-validation-for="Purpose" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Amount" class="form-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>

        <div class="mt-3">
            <label asp-for="Tenor" class="form-label"></label>
            <input asp-for="Tenor" class="form-control" />
            <span asp-validation-for="Tenor" class="text-danger"></span>

            <div class="mt-3">
                <label asp-for="FacilityType" class="form-label"></label>
                <input asp-for="FacilityType" class="form-control" />
                <span asp-validation-for="FacilityType" class="text-danger"></span>
            </div>

            @* <div class="mt-3">
                <label asp-for="CRNo" class="form-label"></label>
                <input asp-for="CRNo" class="form-control" />
                <span asp-validation-for="CRNo" class="text-danger"></span>
            </div> *@

            <div class="mt-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="DateOfRequest" class="form-label"></label>
                <input asp-for="DateOfRequest" class="form-control" />
                <span asp-validation-for="DateOfRequest" class="text-danger"></span>
            </div>

            <div class="mt-3">
                <label asp-for="Assessment" class="form-label"></label>
                <div class="form-check">
                    <input asp-for="Assessment" class="form-check-input" type="checkbox" />
                    <span asp-validation-for="Assessment" class="text-danger"></span>
                </div>


                <div class="mt-3">
                    <button type="submit" name="submit" class="btn btn-primary" aria-label="submit">Submit</button>
                    <a class="btn btn-secondary" asp-action="Details" aria-label="Cancel">Cancel</a>
                </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}