@model Offer

<partial name="_BreadCrumbs" model=@(new [] { ("/","Home"), ("/FinanceRequest/Index","Finance Requests"),
    ($"/Offer/Index?requestNo={Model.RequestNo}&crNo={Model.CRNo}", "Offers"), ("", "Delete Offer") }) />

<div class="card rounded shadow p-4">
    <!-- Display offer details -->
    <div class="row">
        <!-- Details and Navigation -->
        <div class="col-8 d-flex flex-column justify-content-between">
            <!-- Offer details -->


            <!-- Navigation links -->
            <div>
                <a asp-action="Index" class="btn btn-sm btn-outline-primary" aria-label="offer list">
                    <i class="bi bi-list" title="offer list"></i>
                    <span class="ms-1 d-none d-md-inline">List</span>
                </a>

                <a asp-action="Edit" asp-route-offerId="@Model.OfferId" class="btn btn-sm btn-outline-secondary"
                    aria-label="edit offer">
                    <i class="bi bi-pen-fill" title="edit offer"></i>
                    <span class="ms-1 d-none d-md-inline">Edit</span>
                </a>

                <form method="post" asp-action="DeleteConfirm" asp-route-offerId="@Model.OfferId" class="d-inline">
                    <button type="submit" class="btn btn-sm btn-outline-danger" aria-label="delete offer">
                        <i class="bi bi-trash-fill" title="delete offer"></i>
                        <span class="ms-1 d-none d-md-inline">Delete</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to display the delete confirmation dialog -->
<script>
    document.getElementById("deleteOfferButton").addEventListener("click", function () {
        if (confirm("Are you sure you want to delete this offer?")) {
            // Replace placeholders with actual values
            var offerId = '@Model.OfferId'; // Wrap in single quotes
            // Wrap in single quotes
            // Redirect to the DeleteConfirm action
            window.location.href = `/Offer/DeleteConfirm?offerId=${offerId}`;
        }
    });
</script>
